:root {
  --col1: #8a2d3b;
  --col2: #53629e;
  --col3: #8fabd4;
  --col4: #f3c623;
  --col5: #87bac3;
  --col6: #efece3;
  --bg: #faf9f6;
  --txtcol: #2b2b2b;
  --txtcol2: #8b8b8b;
  --txtcol3: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  position: flex;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: var(--bg);
  color: var(--txtcol);
  font-size: 1.2rem;
  scroll-behavior: smooth;
  min-height: 700vh;
  max-width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.7rem 10%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg);
  z-index: 1;
}
.navbar .navbar-logo {
  font-family: "DM Serif Text", sans-serif;
  font-size: 2.2rem;
  padding: 0;
  font-weight: 600;
  color: var(--txtcol1);
  transform: scaleX(1);
  transition: 0.1s ease-in-out;
}
.navbar .navbar-logo:hover {
  color: var(--col1);
  transform: scaleX(1);
  transition: 0.1s ease-in-out;
}
.navbar .navbar-nav {
  display: flex;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 0.5rem 1rem;
}
.navbar .navbar-nav a {
  color: var(--txtcol2);
  display: inline-block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 1rem;
  transition: 0.1s;
  transform: scaleX(1);
}
.navbar .navbar-nav a:hover {
  color: var(--col1);
  transition: 0.1s ease-in-out;
  transform: scaleX(1);
}
.navbar-nav a::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-bottom: solid 2px var(--col1);
  left: 0;
  bottom: 1.5px;
  width: 100%;
  transform-origin: center;
  transform: scaleX(0);
  transition: 0.2s ease-in;
}
.navbar-nav a:hover::after {
  transform: scaleX(1);
  transition: transform 0.6s ease-out;
}
.navbar .navbar-nav a.active::after {
  border-bottom: none;
}
.navbar .navbar-nav a.active {
  color: var(--col1);
}
#search::after {
  border-bottom: none;
}
.navbar .navbar-icon .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 0.5rem 1rem;
}
.navbar .navbar-icon a {
  color: var(--txtcol);
  transition: 0.2s ease-in-out;
}
.navbar .navbar-icon a:hover {
  color: var(--col1);
  transition: 0.2s ease-in-out;
}
#facebook:hover {
  color: #1877f2;
}
#instagram:hover {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background-clip: text;
  color: transparent;
  display: block;
  transition: 0.3s ease-in-out;
}
#linkedin:hover {
  color: #0077b5;
}
#whatsapp:hover {
  color: #25d366;
}
#hamburger-menu {
  display: none;
}
/* End of Navbar */

/* Hero Section */
.hero {
  margin-top: 4.6rem;
}
.hero .hero-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/palihead.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  min-height: 70vh;
  margin: auto;
  padding: 0 2rem;
  border-radius: 25px;
}
.hero .hero-content .hero-bg {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 23px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.hero .hero-content .hero-bg .hero-text {
  background-color: var(--bg);
  padding: 2rem 4rem;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .hero-content .hero-text h1 {
  position: inherit;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}
.hero .hero-content .hero-text p {
  text-align: center;
  font-size: 1.4rem;
  color: var(--txtcol2);
  margin-bottom: 2rem;
  line-height: 1;
}
.hero .hero-content .hero-text .btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--col1);
  color: var(--bg);
  font-weight: 600;
  border-radius: 9px;
}
.bawah {
  display: flex;
  gap: 10px;
  max-width: 100%;
  width: 90%;
  margin: 0.7rem auto;
  height: 20vh;
}
.kiri {
  flex: 1;
  max-width: 100%;
  border-radius: 15px;
  background: linear-gradient(-45deg, #581821, #8a2d3b);
  background-size: 100% 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.kiri #sample {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  align-items: center;
  font-size: 40px;
  color: var(--bg);
}
.kiri h1 {
  text-align: center;
  margin: -5px auto;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--txtcol3);
}
.kiri #button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  width: 85%;
}
.kiri .btn-sample {
  flex: 4;
  margin: 1rem 0.3rem;
  padding: 0.7rem 3rem;
  align-items: center;
  justify-items: auto;
  background-color: var(--bg);
  color: var(--col1);
  border: solid 1px var(--bg);
  font-weight: 600;
  border-radius: 7px;
  font-size: 14px;
  transition: 0.2s ease-in-out;
}
.kiri .btn-sample:hover {
  background-color: var(--col1);
  color: var(--txtcol3);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  transition: 0.2s ease-in-out;
}
.kiri .btn-tnc {
  flex: 1;
  padding: 0.7rem 2.4rem;
  align-items: center;
  justify-items: auto;
  background-color: var(--bg);
  color: var(--col1);
  border: solid 1px var(--bg);
  font-weight: 600;
  border-radius: 7px;
  font-size: 14px;
  transition: 0.2s ease-in-out;
}
.kiri .btn-tnc:hover {
  background-color: var(--col1);
  color: var(--txtcol3);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  transition: 0.2s ease-in-out;
}
.tengah {
  flex: 2;
  max-width: 100%;
  border-radius: 15px;
  background: linear-gradient(-45deg, #581821, #8a2d3b, #581821);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease-in-out;
}
.tengah h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  margin: 0.6rem auto;
  font-weight: 600;
  background: -webkit-linear-gradient(-45deg, #ffffff, #f3c623);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.tengah p {
  position: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: 15px;
  width: 95%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--txtcol3);
  text-align: center;
  justify-content: center;
}
.kanan {
  flex: 1;
  max-width: 100%;
  border-radius: 15px;
  background: linear-gradient(-45deg, #581821, #8a2d3b);
  background-size: 100% 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.kanan #cata {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  align-items: center;
  font-size: 40px;
  color: var(--bg);
}
.kanan h1 {
  text-align: center;
  margin: -5px auto;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--txtcol3);
}
.kanan #button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  width: 85%;
}
.kanan .btn-cata {
  flex: 4;
  margin: 1rem 0.3rem;
  padding: 0.7rem 3rem;
  align-items: center;
  justify-items: auto;
  background-color: var(--bg);
  color: var(--col1);
  border: solid 1px var(--bg);
  font-weight: 600;
  border-radius: 7px;
  font-size: 14px;
  transition: 0.2s ease-in-out;
}
.kanan .btn-cata:hover {
  background-color: var(--col4);
  color: var(--txtcol);
  border-color: var(--col4);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  transition: 0.2s ease-in-out;
}
/* End of Hero Section */
/* Product Section */
.home-product {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  width: 90%;
  margin: 2rem auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
}
.product-title .p-text {
  display: inline-block;
  font-family: "Poppins" sans-serif;
  font-size: 3.6rem;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2.7px;
  text-decoration-color: transparent;
  color: var(--txtcol);
  transition: 0.11s;
  margin: 1rem auto;
}
.product-title .p-text:hover {
  text-decoration-color: var(--txtcol);
  transition: 0.1s;
}
/* --- Container Utama --- */
.container {
  max-width: 100%;
  width: 100%;
  justify-content: left;
  overflow-y: scroll;
  height: 620px;
}

.container::-webkit-scrollbar {
  display: none;
}
/* --- Bagian Galeri Gambar --- */
.gallery {
  display: flex; /* Aktifkan Flexbox untuk menata gambar horizontal */
  gap: 10px;
  max-width: 100%; /* Jarak antar gambar */
  margin-bottom: 10px; /* Jarak antara galeri dan konten teks */
}

.image-box {
  flex: 1;
  overflow: hidden;
  height: 250px;
  border-radius: 15px;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}
.image-box img:hover {
  transform: scale(1.05);
}
/* Text Image*/
.text-content {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 0.5rem;
}

.left-text {
  text-align: left;
  flex: 1;
  text-wrap: nowrap;
}

.right-text {
  right: 0;
  text-wrap: balance;
  padding-top: 1px;
  text-align: right;
}

.left-text h2 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1;
}

.left-text .subtitle {
  font-size: 14px;
  flex: none;
  color: var(--txtcol2);
  margin-top: 0;
}

.right-text p {
  font-size: 16px;
  width: 97%;
  align-items: right;
  font-family: "Plus Jakarta Sans" sans-serif;
  line-height: 1.3;
  color: var(--txtcol);
  margin: auto 1rem;
}
.product-title .discover-more .btn {
  right: 0;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 2rem auto;
  background-color: var(--col1);
  color: var(--bg);
  font-weight: 600;
  border-radius: 9px;
}
/* End of Natural Stone Product */
/* Why us */
.whyus {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("../img/factory.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  margin: 1rem auto;
  max-height: 100%;
  height: 60vh;
  max-width: 100%;
  width: 90%;
  border-radius: 23px;
}
.whyus-bg {
  border-radius: 23px;
  background: linear-gradient(
    -45deg,
    rgba(224, 172, 28, 0.7),
    rgb(138, 45, 59, 0.7)
  );
  background-size: 200% 200%;
  animation: gradient 9s ease infinite;
  width: 100%;
  height: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.whyus-content {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  align-content: center;
  justify-content: center;
  height: 100%;
}
.whyus-content h2 {
  position: absolute;
  top: 1rem;
  font-size: 3.4rem;
  font-family: "Plus Jakarta Sans" sans-serif;
  font-weight: 600;
  color: var(--bg);
  margin: 1rem auto;
}
.text-whyus {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 box per baris */
  gap: 20px; /* jarak antar box */
  max-width: 100%;
  width: 90%;
  margin: 2rem auto;
  padding: auto;
  color: var(--txtcol3);
}
.wu {
  margin: 1rem auto;
  top: 0;
  width: 100%;
  height: 13vh;
  flex-direction: row;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(-45deg, #d3d3d3, #ffffff);
  background-size: 100% 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease-in-out;
}
.wu:hover {
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.text-whyus #icon-wu {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
  align-items: center;
  font-size: 40px;
  color: var(--col1);
}
.text-whyus h1 {
  text-align: center;
  justify-items: start;
  line-height: 1.2;
  margin: auto;
  text-wrap: initial;
  width: 90%;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--col1);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: transparent;
  transition: 0.1s;
}
.text-whyus h1:hover {
  text-decoration-color: var(--col1);
  transition: 0.1s;
}

/* End of Why us*/
/* Footer */
.footer {
  position: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--txtcol2);
  background-size: cover;
  min-height: 40vh;
  min-width: cover;
  bottom: 0;
  padding: 0 2rem;
}
.footer .footer-credit {
  text-align: left;
}
/* End of Footer*/
/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 1020px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: block;
  }
  #search {
    display: none;
  }
  .navbar {
    top: 0;
    width: 100%;
    left: 0;
    padding: 1rem;
    border-radius: 0;
  }
  .navbar .navbar-nav {
    display: none;
  }
  .navbar .navbar-nav a {
    font-size: xx-large;
  }
  .navbar .navbar-logo {
    margin: auto;
    font-size: x-large;
  }
  .navbar .navbar-icon .social {
    display: none;
  }
  .hero {
    margin-top: 6rem;
  }
  .hero .hero-content {
    margin: auto;
    min-height: 70vh;
    width: 95%;
    border-radius: 15px;
  }
  .hero .hero-content .hero-text h1 {
    font-size: 2.5rem;
  }
  .bawah {
    width: 95%;
    flex-direction: column;
    height: 31vh;
    border-radius: 15px;
  }
  .tengah {
    display: none;
  }
  .home-product {
    width: 90%;
  }
  .product-title .p-text {
    text-decoration-thickness: 1.8px;
  }
  .container {
    height: 500px;
  }
  .gallery {
    gap: 5px;
    margin-bottom: 0;
  }
  .image-box {
    border-radius: 0;
    height: 247px;
  }
  .left-text h2 {
    display: none;
  }
  .left-text p {
    display: none;
  }
  .right-text p {
    display: none;
  }
  .whyus {
    height: 70vh;
  }
  .whyus-content {
    margin: 3rem auto;
  }
  .whyus-content h2 {
    font-size: 3.2rem;
    margin: auto;
  }
  .text-whyus {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
  }
  .wu {
    margin: auto;
    width: 80%;
    height: auto;
  }
  .text-whyus h1 {
    font-size: 1.1rem;
    text-decoration-thickness: 1px;
    padding: 1.1rem;
    margin: auto;
  }
  .text-whyus #icon-wu {
    font-size: 30px;
    margin-bottom: 0.2rem;
  }
}
/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
